@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}


<partial name="_StatusMessage" model="Model.StatusMessage" />

<a style="font-size: 40px; color: #B82601; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);" asp-area="Identity" asp-page="/Account/Manage/Index">Back to your profile</a>

