@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />



<section class="py-1 text-center">
   <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="title">@ViewData["Title"]</h1>
          <partial name="_StatusMessage" model="Model.StatusMessage" />
         <a class="title" asp-area="Identity" asp-page="/Account/Login">Login</a>
      </div>
   </div>
</section>
