@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="changeInfo">
   <div class="changeInfoBackground">
      <div class="container">
         <div class="row people" style="padding-top: 20px;">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span as-for="Input.OldPassword" class="authTitle">Current Password</span>
                <div class="form-floating" style="padding-bottom: 20px;">
                    <input asp-for="Input.OldPassword" class="form-control authInput" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <span as-for="Input.NewPassword" class="authTitle">New Password</span>
                <div class="form-floating" style="padding-bottom: 20px;">
                    <input asp-for="Input.NewPassword" class="form-control authInput" autocomplete="new-password" aria-required="true" />

                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <span as-for="Input.ConfirmPassword" class="authTitle">Confirm Password</span>
                <div class="form-floating" style="padding-bottom: 20px;">
                    <input asp-for="Input.ConfirmPassword" class="form-control authInput" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="text-center mt-4">
                  <button type="submit" class="btn authButton">Update password</button>
               </div>
                
            </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
